@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
html,button {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: gray;
  background-image: url("fundo.jpg");
  height: 600px;
  background-position: cover;
  color: white;
}

nav {
  margin-bottom: 100px;
}

.vermelha {
  background-color:  #CF2227;
  color: white;
}

.white {
  background-color: white;
  color: red;
}

a {
   color: white;
   text-decoration: none;
   font-weight: bold;
 }

   button {
     background-color: transparent;
     color: white;
     font-weight: bold;
   }

   h1,p {
     font-weight: lighter;
   }

   h1 {
     font-size: 24px;
   }

  .grande {
    font-size: 64px;
  }

  .medio {
     font-size: 24px;
  }

  h2 {
    font-size: 48px;
    font-weight: bold;
  }

header,section,footer {
     padding: 20px 20px 70px 20px;
}

section {
  text-align: justify;
}

body,p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline;
  padding: 5px;
}

img {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: block;
}
